*{
	margin: 0px;
	padding: 0px;
	border: 0px;

	box-sizing: border-box;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

	font-weight: normal;
    vertical-align: baseline;

    font-weight: normal;
}
article, header, footer, nav, section {
  display:block;
}
body{
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
ol, ul {
  list-style: none;
  list-style-type: none;
}